<div id="content">
  <div class="album py-5 bg-light">
          <div class="container">
            <div class="row">
              <div class="col-md-4">
                <div class="card mb-4 box-shadow">
                  <img class="card-img-top" data-src="holder.js/100px225?theme=thumb&amp;bg=55595c&amp;fg=eceeef&amp;text=Thumbnail" alt="Thumbnail [100%x225]" height="280" width="280" style="display: block;" src="../assets/img/auto_tamponneuse.jpg" data-holder-rendered="true">
                  <div class="card-body">
                    <p class="card-text">Les auto-tamponneuses</p>
                    <div class="d-flex justify-content-between align-items-center">
                      <small class="text-muted">9 mins</small>
                    </div>
                  </div>
                </div>
              </div>

              <div class="col-md-4">
                <div class="card mb-4 box-shadow">
                  <img class="card-img-top" data-src="holder.js/100px225?theme=thumb&amp;bg=55595c&amp;fg=eceeef&amp;text=Thumbnail" alt="Thumbnail [100%x225]" height="280" width="280" src="../assets/img/grand_huit.jpg" data-holder-rendered="true" style="display: block;">
                  <div class="card-body">
                    <p class="card-text">Le grand huit</p>
                    <div class="d-flex justify-content-between align-items-center">
                      <small class="text-muted">9 mins</small>
                    </div>
                  </div>
                </div>
              </div>

              <div class="col-md-4">
                <div class="card mb-4 box-shadow">
                  <img class="card-img-top" data-src="holder.js/100px225?theme=thumb&amp;bg=55595c&amp;fg=eceeef&amp;text=Thumbnail" alt="Thumbnail [100%x225]" height="280" width="280" src="../assets/img/grande_roue.jpg" data-holder-rendered="true" style="display: block;">
                  <div class="card-body">
                    <p class="card-text">La grande roue</p>
                    <div class="d-flex justify-content-between align-items-center">
                      <small class="text-muted">9 mins</small>
                    </div>
                  </div>
                </div>
              </div>

              <div class="col-md-4">
                <div class="card mb-4 box-shadow">
                  <img class="card-img-top" data-src="holder.js/100px225?theme=thumb&amp;bg=55595c&amp;fg=eceeef&amp;text=Thumbnail" alt="Thumbnail [100%x225]" height="280" width="280" src="../assets/img/pedalo.jpg" data-holder-rendered="true" style="display: block;">
                  <div class="card-body">
                    <p class="card-text">Le pédalo</p>
                    <div class="d-flex justify-content-between align-items-center">
                      <small class="text-muted">9 mins</small>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-4">
                <div class="card mb-4 box-shadow">
                  <img class="card-img-top" data-src="holder.js/100px225?theme=thumb&amp;bg=55595c&amp;fg=eceeef&amp;text=Thumbnail" alt="Thumbnail [100%x225]" height="280" width="280" src="../assets/img/splash.jpg" data-holder-rendered="true" style="display: block;">
                  <div class="card-body">
                    <p class="card-text">Le tobogan aquatique</p>
                    <div class="d-flex justify-content-between align-items-center">
                      <small class="text-muted">9 mins</small>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-4">
                <div class="card mb-4 box-shadow">
                  <img class="card-img-top" data-src="holder.js/100px225?theme=thumb&amp;bg=55595c&amp;fg=eceeef&amp;text=Thumbnail" alt="Thumbnail [100%x225]" height="280" width="280" src="../assets/img/bateau.jpg" data-holder-rendered="true" style="display: block;">
                  <div class="card-body">
                    <p class="card-text">Le bateau viking</p>
                    <div class="d-flex justify-content-between align-items-center">
                      <small class="text-muted">9 mins</small>
                    </div>
                  </div>
                </div>
              </div>
        </div>
      </div>
</div>
