<div>
  <div class="form-group">
    <label>id:</label>
    <input [(ngModel)]="boutique.id" readonly class="form-control" />
  </div>
  <div class="form-group">
    <label>nom:</label>
    <input [(ngModel)]="boutique.nom" class="form-control" />
  </div>
  <div class="form-group">
    <label>description:</label>
    <input [(ngModel)]="boutique.description" class="form-control" />
  </div>

  <div class="form-group">
    <label>Coordonnees en x:</label>
    <input [(ngModel)]="boutique.coordonnees!.x" class="form-control" />
  </div>
  <div class="form-group">
    <label>coordonnees en y:</label>
    <input [(ngModel)]="boutique.coordonnees!.y" class="form-control" />
  </div>
  <div class="form-group">
    <label>marchandise:</label>
    <input [(ngModel)]="boutique.marchandise" class="form-control" />
  </div>
  <div>
    <button class="btn btn-outline-primary" (click)="save()">
      enregistrer
    </button>
    <a routerLink="/admin/plan-modif" class="btn btn-link">annuler</a>
  </div>
</div>

