footer {
  display: flex;
  background-color: rgb(38, 3, 58);
  color: aliceblue;
}

#bas {
  display: flex;
  width: 100%;
}

#p1footer {
  display: block;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
  width: 15%;
}

#p2footer {
  display: block;
  text-align: center;
  width: 60%;
}
#p3footer {
  display: block;
  margin-top: 15px;
}

.reseauxSociaux {
  width: 40px;
  height: 40px;
}

ul.foot {
  list-style-type: none;
  margin-top: 10px;
  text-align: center;
}
a {
  text-decoration: none;
  color: orange;
}
a:hover {
  font-size: 1.5em;
  font-style: italic;
  text-decoration: underline;
}
