<footer>
  <div id=bas>
    <div id=p1footer>
      <ul class=foot>
        <li><a routerLink="#" routerLinkActive="active">A propos</a></li>
        <li><a routerLink="#" routerLinkActive="active">Contact</a></li>
      </ul>
    </div>
    <div id=p2footer>
      <ul class="foot">
        <li class="listeFooter"><td><p>Suivez-nous sur les réseaux sociaux</p></td></li>
        <li >
          <table class="listeFooter">
            <td>
              <img class="reseauxSociaux" src="../assets/img/logo-facebook.png" alt="">
              <img class="reseauxSociaux" src="../assets/img/logo-instagram.png" alt="">
              <img class="reseauxSociaux" src="../assets/img/linkedin-logo.png" alt="">
              <img class="reseauxSociaux" src="../assets/img/logo-twitter.png" alt="">
            </td>
          </table>
        </li>
      </ul>
    </div>
    <div id=p3footer center>
      <ul class=foot>
        <li>Fistiland</li>
        <li>6 Rue Rougemont</li>
        <li>75009 Paris</li>
        <li>01 82 28 95 27</li>
      </ul>
    </div>
  </div>
</footer>

