<main>
  <br />
  <div class="container">
    <div id="demo" class="carousel slide" data-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img
            src="https://www.pierre-giraud.com/bootstrap-carrousel-slide-1.jpg"
            alt="Carrousel slide 1"
            class="d-block w-100"
          />
          <div class="carousel-caption d-none d-md-block">
            <h4>Titre de la légende</h4>
            <p>Légende de la slide n°1.</p>
          </div>
        </div>
        <div class="carousel-item">
          <img
            src="https://www.pierre-giraud.com/bootstrap-carrousel-slide-2.jpg"
            alt="Carrousel slide 2"
            class="d-block w-100"
          />
          <div class="carousel-caption d-none d-md-block text-dark">
            <h4>Titre de la légende</h4>
            <p>Légende de la slide n°2.</p>
          </div>
        </div>
        <div class="carousel-item">
          <img
            src="https://www.pierre-giraud.com/bootstrap-carrousel-slide-3.jpg"
            alt="Carrousel slide 3"
            class="d-block w-100"
          />
          <div class="carousel-caption d-none d-md-block">
            <h4>Titre de la légende</h4>
            <p>Légende de la slide n°3.</p>
          </div>
        </div>
      </div>

      <a
        class="carousel-control-prev"
        href="#demo"
        role="button"
        data-slide="prev"
      >
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Précédent</span>
      </a>
      <a
        class="carousel-control-next"
        href="#demo"
        role="button"
        data-slide="next"
      >
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Suivant</span>
      </a>
    </div>
  </div>
  <br />
  <div id="second" center>
    <h2>Presentation du parc</h2>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
      tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
      veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
      commodo consequat. Duis aute irure dolor in reprehenderit in voluptate
      velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat
      cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id
      est laborum.
    </p>

    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
      tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
      veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
      commodo consequat. Duis aute irure dolor in reprehenderit in voluptate
      velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat
      cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id
      est laborum.
    </p>

    <p>
      Lorem ipsum <del>dolor</del> sit amet, consectetur adipisicing elit, sed
      do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
      minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex
      ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate
      velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat
      cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id
      est laborum.
    </p>

    <p>
      Lorem ipsum dolor <mark>sit amet, consectetur adipisicing elit,</mark> sed
      do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
      minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex
      ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate
      velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat
      cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id
      est laborum.
    </p>
  </div>

  <div id="third">
    <div class="row">
      <div class="col-md-4">
        <div class="card mb-4 box-shadow">
          <a routerLink="/attraction">
            <img
              class="card-img-top"
              data-src="holder.js/100px225?theme=thumb&amp;bg=55595c&amp;fg=eceeef&amp;text=Thumbnail"
              alt="Thumbnail [100%x225]"
              height="280"
              width="280"
              src="../assets/img/bateau.jpg"
              data-holder-rendered="true"
              style="display: block"
            />
            <div class="card-body">
              <p class="card-text">Attractions</p>
            </div>
          </a>
        </div>
      </div>

      <div class="col-md-4">
        <div class="card mb-4 box-shadow">
          <a routerLink="restauration">
            <img
              class="card-img-top"
              data-src="holder.js/100px225?theme=thumb&amp;bg=55595c&amp;fg=eceeef&amp;text=Thumbnail"
              alt="Thumbnail [100%x225]"
              height="280"
              width="280"
              src="../assets/img/bateau.jpg"
              data-holder-rendered="true"
              style="display: block"
            />
            <div class="card-body">
              <p class="card-text">Restaurants</p>
            </div>
          </a>
        </div>
      </div>

      <div class="col-md-4">
        <div class="card mb-4 box-shadow">
          <a routerLink="/boutique">
            <img
              class="card-img-top"
              data-src="holder.js/100px225?theme=thumb&amp;bg=55595c&amp;fg=eceeef&amp;text=Thumbnail"
              alt="Thumbnail [100%x225]"
              height="280"
              width="280"
              src="../assets/img/bateau.jpg"
              data-holder-rendered="true"
              style="display: block"
            />
            <div class="card-body">
              <p class="card-text">Boutiques</p>
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>
</main>
