<app-header-admin></app-header-admin>


  <div id="entree">
    <div class="formulaire-formation">
        <strong >Données pour la simulation</strong><br><br>

        Nombre de jour : <input [(ngModel)]="simulation!.nbJours" class="form-control" /><br><br>
        Nombre de familles : <input [(ngModel)]="simulation!.nbFamilles" class="form-control" /><br><br>
          <p>
            <button button class="btn btn-outline-primary" (click)="save()">Lancer la simulation </button>
          </p>
          <a routerLink="/admin/plan-modif" class="btn btn-link">annuler</a>
          <div id="modalOne" class="modal">
            <div class="modal-content">
              <div class="contact-form">
                <a class="close">&times;</a>
                <form action="/">
                  <h2>La simulation est en cours veuillez patienter</h2>
                  <img src="../../../assets/img/unknown.png" height="200" width="200" alt="">
                </form>
              </div>
            </div>
          </div>
        </div>
  </div>
