<app-header-admin></app-header-admin>
<div id="baliseDiv">
  <div id="left">
    <table>
      <tr><h3 >Données pour la simulation</h3></tr><br><br>
      <div id="entree">
        <div class="formulaire-formation">
            <tr>
              <td>
                <label>Nombre de jours de la simulation : </label>
              </td>
              <td>
                <input [(ngModel)]="simulation!.nbJours" class="form-control"/>
              </td>
            </tr>
            <br>
            <tr>
              <td>
                <label>Nombre de familles dans le parc: </label>
              </td>
              <td>
                <input [(ngModel)]="simulation!.nbFamilles" class="form-control" />
              </td>
            </tr>
            <br>
            <br>
            <br>
            <tr>
              <td>
                <button button class="btn btn-outline-primary" (click)="save()">Lancer la simulation </button>
              </td>
              <td>
                <button button class="btn btn-danger" routerLink="/admin/simulation">Annuler </button>
              </td>
            </tr>
          </div>
      </div>
    </table>
  </div>
  <div id="right">
    <img src="../assets/img/simulation.gif" alt="">
  </div>
</div>
