<!-- <div class="desc">
  <p id="intro"> Vous voulez rapporter un souvenir inoubliable ? Venez découvrir notre large gamme de produits dérivés à l'image des vos personnages préférés !</p>
</div>
<div class="boutique1">
  <input type="button" id="bouton1" onclick="" value="🎁🎁 Accéder à cette boutique! 🎁🎁">
  <input type="text" class="nomBoutique1" value="La boutique officielle ! "/>
</div>
<div class="boutique2">
  <input type="button" id="bouton2" onclick="" value=" 🎁🎁 Accéder à cette boutique 🎁🎁 !">
  <input type="text" class="nomBoutique2" value="Venez tenter votre chance !"/>
</div>
<div class="boutique3">
  <input type="button" id="bouton2" onclick="" value=" 🎁🎁 Accéder à cette boutique 🎁🎁 !">
  <input type="text" class="nomBoutique3" value="Venez tenter votre chance !"/>
</div>
<div class="boutique4">
  <input type="button" id="bouton2" onclick="" value=" 🎁🎁 Accéder à cette boutique 🎁🎁 !">
  <input type="text" class="nomBoutique4" value="Venez tenter votre chance !"/>
</div> -->

<table class="table">
  <tr *ngFor="let b of boutiques | async">
    <td>{{ b.id }}</td>
    <td>{{ b.nom }}</td>
    <td>{{ b.coordonnees?.x }}</td>
    <td>{{ b.coordonnees?.y }}</td>
  </tr>
</table>
