.desc {
  color: rgb(128, 115, 0);
  width: 80%;
  height: 100px;
  margin: 0px 215px;
  font-size: 24px;
  font-family: "Rockwell", serif;
  box-sizing: content-box;
  padding: 5px;
  background-color: white;
}



.table{
margin-bottom: 200px;

}
