<div>
  <div class="form-group">
    <label>id:</label>
    <input [(ngModel)]="attraction.id" readonly class="form-control" />
  </div>
  <div class="form-group">
    <label>nom:</label>
    <input [(ngModel)]="attraction.nom" class="form-control" />
  </div>
  <div class="form-group">
    <label>capacite:</label>
    <input [(ngModel)]="attraction.capacite" class="form-control" />
  </div>
  <div class="form-group">
    <label>restriction handicapés</label>
    <select class="form-control" [(ngModel)]="attraction.restHandi">
      <option [ngValue]="true">Oui</option>
      <option [ngValue]="false">Non</option>
    </select>
  </div>
  <div class="form-group">
    <label>taille maximale autorisée :</label>
    <input [(ngModel)]="attraction.tailleMax" class="form-control" />
  </div>
  <div class="form-group">
    <label>taille minimale autorisée:</label>
    <input [(ngModel)]="attraction.tailleMin" class="form-control" />
  </div>
  <div class="form-group">
    <label>Coordonnees en x:</label>
    <input [(ngModel)]="attraction.coordonnees!.x" class="form-control" />
  </div>
  <div class="form-group">
    <label>coordonnees en y:</label>
    <input [(ngModel)]="attraction.coordonnees!.y" class="form-control" />
  </div>
  <div>
    <button class="btn btn-outline-primary" (click)="save()">
      enregistrer
    </button>
    <a routerLink="/admin/plan-modif" class="btn btn-link">annuler</a>
  </div>
</div>
