.desc {
  color: purple;
  width: 95%;
  height: 80px;
  margin: 30px 35px;
  font-size: 30px;
  font-family: "Mistral", serif;
  box-sizing: content-box;
  padding: 5px;
  background-color: white;
}

.table {
  margin: 0 auto;
  width: 95%;
  margin-top: 100px;
  margin-bottom: 100px;
}
