<div class="image">



<div class="desc">
  <p id="intro">🤤 Vous voulez vous en mettre plein la panse ? N'hésitez plus et venez goûter nos offres délicieuses🤤 !</p>
</div>

<table class="table" *ngFor="let r of restauration | async; let indexOfElement=index">
  <div class="row">
    <div class="col-md-10" style="margin: 0 auto">
      <div class="card mb-10 box-shadow">
        <img class="card-img-top"  alt="Thumbnail [60%x155]"  style="display: block; height: 400px;" src={{source[indexOfElement]}}>
        <div class="card-body">
          <h3><p class="card-text" style="text-align: center;">{{ r.nom }}</p></h3>
           <h5><p class="card-text" style="text-align: center;">{{ r.description }}</p></h5>
           <!--<p class="card-text" style="text-align: center;">{{ indexOfElement }}</p>-->
        </div>
      </div>
    </div>
  </div>
</table>

</div>
