<!-- <div class=container>
<div class=row>
<div class="col-md-8">

<form #userForm="NgForm" (NgSubmit)="onFormSubmit(userForm)">
  <div class="form-group">
  <label>Ajouter un restaurant</label>
  <input type ="text";
  NgModel
  name="UserName"
  id="UserName"
class="form-control">




  </div>


</form>
</div>

</div>

</div>


<div class="desc">
  <p id="intro">👨‍🍳‍Chaque jour, nos retaurants sont approvisionnés en denrées fraîches et soigneusement sélectionnées par nos chefs. La satisfaction client est au coeur de nos préoccupations.👨‍🍳</p>
</div>
<div class="restau1">
  <input type="button" id="bouton1" onclick="" value="😋😋 Accéder à ce restaurant 😋😋!">
  <input type="text" class="nomRestau1" value="Le Chalet, l'Empire du fromage 🤤🤤"/>
</div>
<div class="restau2">
  <input type="button" id="bouton2" onclick="" value="😋😋 Accéder à ce restaurant 😋😋!">
  <input type="text" class="nomRestau2" value="Mc Fat, le Roi du gras 🤤🤤"/>
</div>
<div class="restau3">
  <input type="button" id="bouton2" onclick="" value="😋😋 Accéder à ce restaurant 😋😋!">
  <input type="text" class="nomRestau3" value="Venez tenter votre chance !"/>
</div>

<form (ngSubmit)="validate()" [formGroup]="form">
  <div>
    login:<input formControlName="login" />
    <div *ngIf="form.controls['login'].dirty && form.controls['login'].invalid">
      login invalide
    </div>
  </div>
  <div formGroupName="passwordGroup">
    <div>password:<input formControlName="password" /></div>
    <div>confirmation:<input formControlName="confirm" /></div>
    <div *ngIf="form.controls['passwordGroup'].invalid">invalide</div>
  </div>
  <div><button type="submit" [disabled]="form.invalid">valider</button></div>
</form> -->
