<app-header-admin></app-header-admin>
<h2>Test</h2>
<div id="tableau">
  <table style="background-image: url('../assets/img/fond_plan.jpg');">
  <tr *ngFor="let a of abscisse">
    <td *ngFor="let o of ordonnee" id="caseTableau">
      <p>{{ a }} {{ o }}</p>
      <div *ngIf="checkVide(a, o); else pasbon">
        <div>
          <img
            src="../assets/img/maisonBleu.png"
            *ngIf="checkBoutique(a, o); else checkAttractionHTML"
          />
          <p></p>
          <button class="btn btn-danger" (click)="delete(a, o)">
            supprimer
          </button>
          <ng-template #checkAttractionHTML
            ><img
              src="../assets/img/maisonVerte.png"
              *ngIf="checkAttraction(a, o); else checkRestaurationHTML"
            />
          </ng-template>
          <ng-template #checkRestaurationHTML
            ><img src="../assets/img/maisonRouge.png" />
          </ng-template>
        </div>
      </div>
      <ng-template #pasbon>
        <p>
          <button type="button"  routerLink="/attraction/update"
          routerLinkActive="active" class="btn btn-primary">Ajout attraction</button>

          <!-- <a
            routerLink="/attraction/update"
            routerLinkActive="active"
            class="btn btn-link"
            >ajout Attraction</a> -->
        </p>

        <p>
          <button type="button"  routerLink="/boutique/update"
          routerLinkActive="active" class="btn btn-success">Ajout boutique</button>
          <!-- <a
            routerLink="/boutique/update"
            routerLinkActive="active"
            class="btn btn-link"
            >ajout Boutique</a
          > -->
        </p>

        <p>
          <button type="button"  routerLink="/restauration/update"
          routerLinkActive="active" class="btn btn-info">Ajout restauration</button>
          <!-- <a
            routerLink="/restauration/update"
            routerLinkActive="active"
            class="btn btn-link"
            >ajout Restaurant</a
          > -->
        </p>
      </ng-template>
    </td>
  </tr>
</table>
</div>
<table class="table">
  Liste des Restaurants :
  <thead>
    <tr>
      <th>nom</th>
      <th>description</th>
      <th>x</th>
      <th>y</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let r of restaurationsLocal">
      <td>{{ r.nom }}</td>
      <td>{{ r.description }}</td>
      <td>{{ r.coordonnees!.x }}</td>
      <td>{{ r.coordonnees!.y }}</td>
      <td>
        <button
          [routerLink]="['/restauration', 'update', r.id]"
          routerLinkActive="active"
          class="btn btn-outline-primary"
        >
          editer
        </button>
      </td>
      <!-- <td><button class="btn btn-outline-danger" (click)="deleteId(r.id)">
        supprimer
      </button></td> -->
    </tr>
  </tbody>
</table>
<table class="table">
  Liste des Attractions :
  <thead>
    <tr>
      <th>nom</th>
      <th>capacite</th>
      <th>duree</th>
      <th>restriction Handicapé</th>
      <th>tailleMin</th>
      <th>tailleMax</th>
      <!-- <th>description</th> -->
      <th>x</th>
      <th>y</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let r of attractionsLocal">
      <td>{{ r.nom }}</td>
      <td>{{ r.capacite }}</td>
      <td>{{ r.duree }}</td>
      <td>{{ r.restHandi }}</td>
      <td>{{ r.tailleMax }}</td>
      <td>{{ r.tailleMin }}</td>
      <!-- <td>{{ r.description }}</td> -->
      <td>{{ r.coordonnees!.x }}</td>
      <td>{{ r.coordonnees!.y }}</td>
      <td>
        <button
          [routerLink]="['/attraction', 'update', r.id]"
          routerLinkActive="active"
          class="btn btn-outline-primary"
        >
          editer
        </button>
      </td>
      <!-- <td><button class="btn btn-outline-danger" (click)="deleteId(r.id)">
        supprimer
      </button></td> -->
    </tr>
  </tbody>
</table>
<table class="table">
  Liste des Boutiques :
  <thead>
    <tr>
      <th>nom</th>
      <th>description</th>
      <th>x</th>
      <th>y</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let r of boutiquesLocal">
      <td>{{ r.nom }}</td>
      <td>{{ r.description }}</td>
      <td>{{ r.coordonnees!.x }}</td>
      <td>{{ r.coordonnees!.y }}</td>
      <td>
        <button
          [routerLink]="['/boutique', 'update', r.id]"
          routerLinkActive="active"
          class="btn btn-outline-primary"
        >
          editer
        </button>
      </td>
      <!-- <td><button class="btn btn-outline-danger" (click)="deleteId(r.id)">
        supprimer
      </button></td> -->
    </tr>
  </tbody>
</table>
