<header>
  <div id="top">
    <div id="divLogo">
      <a routerLink="/" routerLinkActive="active"
        ><img id="logo" src="../assets/img/Logo.png" alt=""
      /></a>
    </div>
    <div id="listeBanniere">
      <ul class="menu">
        <li><a routerLink="/" routerLinkActive="active">Accueil</a></li>
        <li>
          <a routerLink="/plan" routerLinkActive="active">Plan du parc</a>
        </li>
        <li>
          <a routerLink="/attraction" routerLinkActive="active">Attraction</a>
        </li>
        <li>
          <a routerLink="/restauration" routerLinkActive="active"
            >Restauration</a
          >
        </li>
        <li>
          <a routerLink="/boutique" routerLinkActive="active">Boutique</a>
        </li>
      </ul>
    </div>
    <div id="compte">
      <p style="color: orange" *ngIf="!!login">Compte connecté : {{ login }}</p>
      <button *ngIf="!!login" (click)="logoff()" class="btn btn-link">
        deconnexion
      </button>
      <a routerLink="/connexion" routerLinkActive="active" *ngIf="login == null"
        >Connexion</a
      >
      <img id="logine"  src="../assets/img/loginImage3.jpg" alt="">
    </div>
  </div>
</header>
